data/
node_modules/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
.env

.pkg-cache/

referto/

.trae/
.trae-sandbox/
.traeai/

.vscode/
.idea/
.history/

RELEASING.md

*.certSigningRequest
*.p12
*.cer
*.mobileprovision

*.code-workspace
